.text-card-2 {
    transition: box-shadow 0.4s;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;
}
.text-card-1 {
    transition: box-shadow 0.4s;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border: 2px solid black;
}
  
.text-card-1:hover, .text-card-2:hover {
  box-shadow: 10px 6px 10px rgb(0, 0, 0);
}
  
  .cool-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(218, 218, 218));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1s;
}

.navbar {
    border-right: 3px solid black;
    flex-direction: column;
    display: flex;
    width: 60px;
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    align-items: center;
    transition: width 0.2s ease;
  }

.navbar-nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-item {
    display: flex;
    margin-top: 20px;
  }

  .nav-link {
    display: flex;
    height: 5rem;
    align-items: center;
    text-decoration: none;
  }
  
  .link-text {
    font-family: Cairo;
    width: 50px;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: rgb(0, 0, 0);
    display: none;
    margin-left: 1rem;
  }

  .navbar:hover {
    width: 200px;
  }

  .navbar:hover .link-text {
    display: block;
    margin-left: 10px;
  }
  
  
  .picture {
    border-radius: 50%;
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 10;
    transition: background-color 0.5s;
  }

  .picture:hover {
    background-color: rgb(149, 239, 255);
  }
  
  .nav-item:last-child {
    margin-top: 500px;
  }
  
  .quote-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .quote-text {
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 60px;
  }

















  .cool-link:hover {
    background-size: 100% 5px;
}

  body::-webkit-scrollbar {
    width: 5px;
  }  

  body::-webkit-scrollbar-track {
    color: rgb(49, 49, 49);
  }  

  body::-webkit-scrollbar-thumb {
    color: rgb(255, 0, 0);
  }  