body {
  padding-top: 100px;
  height: 3000px;
  margin: 0px;
}  

.header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    color: white;
  }

.w-icon {
    display: flex;
    width: 150px;
    height: 60px;
    margin-right: 75px;
  }  

.header-text {
    display: flex;
    flex: 1;
    line-height: 40px;
    text-align: center;
    font-size: 50px;
    font-family: Bebas Neue;
    font-style: italic;
    min-width: 250px;
  }

  .header-text-2 {
    line-height: 40px;
    text-align: center;
    font-size: 50px;
    font-family: Bebas Neue;
    font-style: italic;
    min-width: 150px;
    background-image: linear-gradient(90deg, rgb(255, 0, 0), rgb(132, 0, 255));
    background-clip: text;
    color: transparent;
    margin-left: 0px;
  }  

.header-profile {
    top: 20px;
    left: 40px;
    position: relative;
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    z-index: -1;
  }

  .header-profile-2 {
    top: 20px;
    right: -30px;
    position: relative;
    width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    z-index: -1;
  }



  p {
    margin: 0px;
    font-size: 22px;
    line-height: 30px;
    font-family: Cairo;
  }

  .section-left {
    align-items: center;
    max-width: 300px;
  }

  .section-middle {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    align-items: center;
    max-width: 300px;
  }

  .section-right {
  }

  .stoicism, .Epicureanism {
    width: 100px;
    display: inline-block;
    margin-top: 50px;
    font-size: 42px;
    font-family: Bebas Neue;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .stoicism {
    margin-right: 30px;
  }
  .Epicureanism {
    margin-right: 100px;
  }

  .stoic-ex, .Epicureanism-ex{
    display: inline-block;
  }

  .text-card-1 {

    max-width: 600px;
    min-width: 400px;
  }

  .text-card-2 {

    max-width: 650px;
    min-width: 400px;
  }

  .grid {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .center-grid {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 600px) {
    .navbar {
      display: none;
    }
   
    .grid {
      grid-template-columns: 1fr;
    }
  
  }

  @media (min-width: 2000px) {
    .navbar {
      display: none;
    }
   
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  
  }
